body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#world {
  background: #d8cede;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
